@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.error{
  color: #dd4b39;
  font-size: 13px;
}

.required_field{
	   color: red;
}

.require-asterik{
  color: red;
}

.right-align-pagi{
  float: right;
}

.box-body ul.nested{  position: relative; 
  margin: 0 0 20px 20px;  padding: 0;}
 
 .box-body ul.nested:before{  content: "";  display: block;
    width: 0;  position: absolute; 
     top: 0;  bottom: 0;  left: 0;
     border-left: 1px solid #000;}

 .box-body ul.nested li{
  position: relative; padding-left: 25px;}

 .box-body ul.nested li:before{ content: "";
  display: block;    width: 20px;
  height: 0;
  border-top: 1px solid #000;
  margin-top: -1px; 
  position: absolute;
  top: 10px; 
  left: 0px;}


.time-line-div{
  position: relative;
  margin-top: 80px;
}
.time-line-div-inner{
  padding: 30px 20px 70px 20px;
  box-shadow: inset 1px -1px 28px -5px #5da6a9;
}
.time-line-div h3{
  position: absolute;
  top: -42px;
  margin: 0;
  left: 0;
  padding: 8px 12px;
  box-shadow: inset 1px -1px 28px -5px #5da6a9;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  background: #4da0e0;
}
.time-line-div-inner .legend,
.admin-timeline .legend{
  text-align: right;
  margin-bottom: 60px;
}
.time-line-div-inner .legend li,
.time-line-div-inner .legend li:last-child,
.admin-timeline .legend li,
.admin-timeline .legend li:last-child{
  display: inline-block;
  width: auto;
  padding: 0 0 0 10px;
}
.time-line-div-inner .legend li:before,
.admin-timeline .legend li:before{
  display: none;
}
.time-line-div-inner .legend li:last-child:after,
.admin-timeline .legend li:last-child:after{
  display: none;
}
.time-line-div-inner .legend li span,
.admin-timeline .legend li span{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 2px;
}
.time-line-div-inner .legend li span.notcomplete,
.admin-timeline .legend li span.notcomplete{
  background: #ababab;
}
.time-line-div-inner .legend li span.complete,
.admin-timeline .legend li span.complete{
  background: #a26e0d;
}
.time-line-div ul{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.time-line-ul{
  text-align: center;
}
.time-line-div ul li{
  display: inline-block;
  position: relative;
  width: 30%;
}
.time-line-div ul li:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #ccc;
}
.time-line-div ul li:last-child:before{
    display: none;
}
.time-line-div ul li span.circle{
  content: '';
  position: absolute;
  top: -6px;
  left: -4px;
  width: 15px;
  height: 15px;
  background: #ababab;
  border-radius: 50%;
  display: block;
}
.time-line-div ul li:last-child span.circle{
  display: none;
}
.time-line-div ul li:last-child {
  width: 5%;
}
.time-line-div ul li.active-li:before{
  background: #00a65a;
}
.time-line-div ul li.active-li:after,
.time-line-div ul li:last-child.active-li:after{
  background: #a26e0d;
}
.time-line-div ul li:last-child:after{
  content: '';
  position: absolute;
  top: -6px;
  left: -4px;
  width: 15px;
  height: 15px;
  background: #ababab;
  border-radius: 50%;
}
.time-line-div ul li span.time-line-span{
  position: absolute;
  left: 0;
  color: #a5a5a7;
  /*color: #222d32;*/
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}
.time-line-div ul li.active-li span.time-line-span{
  color: #222d32;
}
.time-line-div ul li.active-li span.circle{
  background: #a26e0d;
}
.time-line-div ul li:nth-child(odd) span.time-line-span{
  top: -45px;
}
.time-line-div ul li:nth-child(even) span.time-line-span{
  top: 15px;
}

h1,h2,h3,h4,h5,h6,p{
  font-family: 'Raleway', sans-serif;
}

.msFormSection{
  padding: 60px 0 60px 0;
  font-family: 'Abel', sans-serif;
}
.msFormHead{
  text-align: center;
  margin-bottom: 40px;
}
.msFormSection input,
.msFormSection select,
.msFormSection textarea{
  font-size: 15px;
  line-height: 22px;
  color: #1b1b1b;
  font-family: 'Open Sans', sans-serif;
}
.msFormSection input:focus,
.msFormSection select:focus,
.msFormSection textarea:focus{
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #1073bf;
}
.msFormSection textarea:focus,
.msFormSection select:focus{
  border: 1px solid #1073bf;
}
.msFormHead h2{
  font-size: 25px;
    line-height: 32px;
    color: #1b1b1b;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.68px;
}
.msFormHead h4{
  font-size: 20px;
  line-height: 26px;
  color: #1073bf;
  margin: 0 0 10px 0;
}
.msCandidateInfo .formgroup{
  margin: 0 0 40px 0;
}
.msCandidateInfo label{
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 5px 0;
  color: #107a7d;
  font-weight: 600;
  width: 18%;
  vertical-align: top;
}
.msCandidateInfo input{
  width: 80%;
  padding: 0px 10px;
  height: auto;
  border: none;
  border-bottom: 1px solid #107a7d;
  display: inline-block;
}
.msCandidateInfo textarea{
  width: 80%;
  padding: 10px;
  border: 1px solid #107a7d;
  display: inline-block;
}
.gradeInfo{
  background: #088b90;
    padding: 20px;
    box-shadow: 5px 5px 5px #215354;
    border: 1px solid #193c3e;
}
.gradeInfo p{
  font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin: 0 0 0px 0;
        font-family: 'Abel', sans-serif;
}
.gradeInfo p span{
  color: #ffcb03;
    font-weight: 400;
}
.markingPart{
  padding: 20px 0 20px 0;
}
.markingPart h3{
  background: #1073bf;
  color: #fff;
  margin: 0 0 20px 0;
  padding: 10px;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.68px;
  font-family: 'Abel', sans-serif;
}
.markingPart h4{
  margin: 15px 0;
  color: #1b1b1b;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'Abel', sans-serif;
}
.markingPart label{
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 5px 0;
  color: #107a7d;
  font-weight: 600;
  vertical-align: top;
  display: block;
  font-family: 'Abel', sans-serif;
}
.markingPart select{
  width: 100%;
  padding: 10px;
  height: 40px;
  border: none;
  border: 1px solid #107a7d;
  display: inline-block;
}
.markingPart textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #107a7d;
  display: inline-block;
}
.markingPart .formgroup{
  margin: 0 0 10px 0;
}
.rowgap{
  margin-bottom: 30px;
}
.rowgap:last-child{
  margin-bottom: 0;
}
.finalComment{
  margin-top: 40px;
    border: 1px solid #088b90;
    padding: 20px;
    box-shadow: 1px 3px 10px #153a3c;
}
.finalComment h4{
  margin: 0 0 5px 0;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 600;
    color: #1b1b1b;
    font-family: 'Abel', sans-serif;
}
.finalComment label{
  font-size: 18px;
    line-height: 24px;
    color: #107a7d;
    margin: 0 10px 0 0;
  font-family: 'Abel', sans-serif;
}
.finalComment select{
  width: 10%;
  padding: 10px;
  height: 40px;
  border: 1px solid #107a7d;
  display: inline-block;
}
.finalComment select:focus{
  border: 1px solid #1073bf;
}
.signatureOuter{
  padding: 30px 0 0 0;
  text-align: right;
  overflow: hidden;
}
.signatureInner{
  width: 400px;
    height: 100px;
    border: 1px solid #000;
    float: right;
}
.signatureOuter h5{
  margin: 110px 0 10px 0;
  font-size: 16px;
  line-height: 22px;
  color: #1b1b1b;
  font-weight: 600;
}
.msnote{
  background: #a5ced0;
    padding: 20px;
    margin-top: 30px;
}
.msnote h4{
  font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #1b1b1b;
    font-weight: 600;
    margin: 0 0 10px 0;
      font-family: 'Abel', sans-serif;
}
.msnote ul{
  list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.msnote ul li{
  padding: 5px 0 5px 20px;
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #1b1b1b;
}
.msnote ul li:after{
  content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 4px;
}
.msnote p{
  font-size: 16px;
    line-height: 22px;
    color: #257537;
    font-weight: 600;
      font-family: 'Abel', sans-serif;
}
.evaluatorInfo label{
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 5px 0;
  color: #107a7d;
  font-weight: 600;
  width: 18%;
  vertical-align: top;
}
.evaluatorInfo input{
  width: 40%;
  padding: 0 10px;
  height: auto;
  border: none;
  border-bottom: 1px solid #107a7d;
  display: inline-block;
}
.evaluatorInfo textarea{
  width: 40%;
  padding: 10px;
  border: 1px solid #107a7d;
  display: inline-block;
}
.formgroup{
  margin: 0 0 20px 0;
}
.evaluatorInfo button{
  font-size: 16px;
  line-height: 22px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.sidebar-menu li>a {
  font-size: 16px;
  line-height: 22px;
}
.content-header>h1>small {
    font-size: 16px;
}
.content-header>h1{
  font-size: 28px;
  line-height: 34px;
}
.content-header>.breadcrumb li {
  font-size: 16px;
  line-height: 22px;
}
.small-box p {
    font-size: 16px;
}
.small-box>.small-box-footer{
  font-size: 16px;
  line-height: 22px;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td{
  font-size: 16px;
  line-height: 22px;
}
div.dataTables_wrapper div.dataTables_info{
  font-size: 15px;
}
.box-header a,
.box-header button,
.box-footer a,
.box-footer button{
  font-size: 16px;
  line-height: 22px;
}
.box-header .box-title{
  font-size: 20px;
  line-height: 26px;
}
label{
  font-size: 15px;
  line-height: 22px;
}
.form-group input[type=checkbox],
.form-group input[type=radio]{
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin: 0 2px 0 0px;
}
.form-group input[type=checkbox] + label,
.form-group input[type=radio] + label{
  margin-right: 10px;
}
.desh-bord label{
  width: 35%;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.category-label{
  width: 35%;
  margin-right: 20px;
  display: inline-block;
}
.category-label label{
  width: 100%;
}
#add_sub_cat .category-label,
#add_course .category-label{
  margin-right: 24px;
}
.desh-bord input,
.desh-bord select,
.desh-bord textarea{
  width: 62%;
  display: inline-block;
}
#category_id{
  /*width: 100%;*/
}
#synopModal .modal-header,
#thesisEditModal .modal-header,
#thesisModal .modal-header,
#synopEditModal .modal-header,
.design-modal .modal-header{
  background: #165d61;
}
#synopModal .modal-header h4,
#thesisEditModal .modal-header h4,
#thesisModal .modal-header h4,
#synopEditModal .modal-header h4,
.design-modal .modal-header h4{
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  width: 85%;
}
#synopModal .modal-header .close,
#thesisEditModal .modal-header .close,
#thesisModal .modal-header .close,
#synopEditModal .modal-header .close,
.design-modal .modal-header .close{
  /*margin-top: 5px;*/
  font-size: 28px;
  line-height: 28px;
  color: #fff;
  opacity: 1;
}
#synopModal .modal-header .close:focus,
#thesisEditModal .modal-header .close:focus,
#thesisModal .modal-header .close:focus,
#synopEditModal .modal-header .close:focus,
.design-modal .modal-header:focus{
  outline: none;
}
#synopModal .modal-footer button,
#thesisEditModal .modal-footer button,
#thesisModal .modal-footer button,
#synopEditModal .modal-footer button,
.design-modal .modal-footer button{
  background: #099fea;
  color: #fff;
  border: 0px;
  padding: 8px 15px;
  margin-top: 2px;
  font-size: 18px;
  transition: 0.5s;
  width: auto;
}
#synopModal .modal-footer button:hover,
#thesisEditModal  .modal-footer button:hover,
#thesisModal  .modal-footer button:hover,
#synopEditModal  .modal-footer button:hover,
.design-modal .modal-footer button:hover{
    background: #053357;
}
.has-error .error{
  display: none;
}
.has-error input{
  border: 1px solid #a94442;
}
.has-error input::-webkit-input-placeholder {
    color: #a94442;
}
.has-error input::-moz-placeholder {
  color: #a94442;
}
.has-error input:-ms-input-placeholder {
  color: #a94442;
}
.signature-upload,
.signature-field{
  display: inline-block;
  vertical-align: top;
}
.signature-upload{
  width: 62%;
}
.signature-upload input{
  width: 100%;
}
p.signature-field{
  display: block;
  margin-top: -20px;
}
.signature-field #clear{
  position: relative;
  left: 70%;
  padding: 0;
  background: transparent;
  font-size: 14px;
  line-height: 20px;
  color: #337ab7;
}
.signature-field #clear:hover{
  color: #165d61;
}
.signature-field #clear:focus{
  outline: none;
}
.signature-field #saveImage{
  position: relative;
  left: 38%;
  padding: 0;
  background: transparent;
  font-size: 14px;
  line-height: 20px;
  color: #337ab7;
}
.signature-field #saveImage:hover{
  color: #165d61;
}
.signature-field #saveImage:focus{
  outline: none;
}
.thankyouOuter{
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.thankyouOuter p{
  font-size: 20px;
  line-height: 26px;
  color: #2a2d2b;
  margin: 20px 0;
}
.thankyouOuter a{
  background: #2a2d2b;
  color: #FFf;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
}
.thankyouOuter a:hover{
   background: #000;
}
.submitOuter{
  text-align: center;
  padding: 30px 0 0 0;
}
.submitOuter button[type=submit]{
  background: #099fea;
  color: #fff;
  border: 0px;
  padding: 8px 15px;
  margin-top: 2px;
  font-size: 18px;
  line-height: 24px;
  transition: 0.5s;
  width: auto;
  text-transform: capitalize;
}
.submitOuter button[type=submit]:hover{
  background: #053357;
}
.newline-class{
  margin-bottom: 20px;
}
.admin-timeline{
  margin: 40px 0;
  text-align: center;
}
.signatureOuter p.signature-field{
  text-align: left;
  position: relative;
  height: 30px;
}
.signatureOuter p.signature-field #saveImage{
  left: 61%;
  position: absolute;
}
.signatureOuter p.signature-field #clear{
  right: 0%;
  position: absolute;
  left: auto;
}
span.view-signature{display: inline-block; width: 62%; border: 1px solid #dddd;}

img.user-image{background: #fff !important;}

.user-panel .image{background: #fff !important; border-radius: 100%; padding: 2px 0px 1px 2px;}

li.messages-menu ul{padding: 10px;}

.navbar-nav>.messages-menu>.dropdown-menu{padding: 10px;}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a{background: #eaeaea;}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a p{color:#000;}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img{ background: #fff;
    padding: 4px 0 3px 4px; }

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li.unread-notification a{background: #3c8dbc;}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li.unread-notification a p{color: #fff;}
.reason-reject-box label{
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 5px 0;
  color: #107a7d;
  font-weight: 600;
  width: 18%;
  vertical-align: top;
}
.reason-reject-box textarea{
  width: 40%;
  padding: 10px;
  border: 1px solid #107a7d;
  display: inline-block;
}
.reason-reject-box input{
  width: 80%;
  padding: 0px 10px 10px 10px;
  height: auto;
  border: none;
  border-bottom: 1px solid #107a7d;
  display: inline-block;
}
#signature_upload1,
#signature_upload2,
#upload_signature{
  display: inline-block;
}
#signature_upload1 input,
#signature_upload2 input,
#upload_signature input{
  width: 100%;
  border: 1px solid #a0a0a0;
  padding: 6px;
}
.view-signature-admin{
  display: inline-block;
  border: 1px solid #a0a0a0;
}
#modal-default table tr td{
  border-top: none;
}
#modal-default .modal-header{
  background: #3c8dbc;
}
#modal-default .modal-title{
  color: #fff;
}
#modal-default .close{
  opacity: 1;
  color: #fff;
}
.thsis-content ul{
  list-style: none;
}

/*Responsive*/
@media (max-width: 1199px) {
  .desh-bord input,
  .desh-bord select,
  .desh-bord textarea{
    width: 61%;
  }
  .signature-field #clear{
    left: 78%;
  }
  .bankDetails label{
    width: 38%!important;
  }
  .bankDetails input{
    width: 50%!important;
  }
}
@media (max-width: 1023px) {
  .signature-field #clear{
    left: 76%;
  }

  .fc-center h2{font-size:22px;}

 .evaluatorInfo label{width: 40%;}
 .signatureOuter h5{margin: 0;}

  .finalComment select{
    width: 20%;
  }

}
@media (max-width: 767px) {
  .msFormSection{
    padding: 40px 0 40px 0;
  }
  .msFormHead h4 {
      font-size: 18px;
      line-height: 24px;
  }
  .msFormHead h2 {
      font-size: 22px;
      line-height: 28px;
  }
  .msFormHead{
    margin-bottom: 30px;
  }
  .evaluatorInfo input,
  .evaluatorInfo textarea {
    width: 60%;
  }
  .evaluatorInfo label{
    width: 35%;
  }
  .evaluatorInfo{
    padding: 20px 0 0 0;
  }
  .category-label{
    width: 100%;
  }
  .desh-bord input, .desh-bord select, .desh-bord textarea{
    width: 100%;
  }
  .desh-bord label{
    width: 100%;
  }
  .signature-field #saveImage{
    left: 0%;
  }
  .signature-field #clear{
    left: 75%;
  }
  .time-line-div-inner{
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .time-line-div ul{
    width: 720px;
  }
  .kbw-signature{
    width: 100%!important;
  }
  .kbw-signature canvas{
    width: 100%!important;
  }
  .signatureOuter p.signature-field #saveImage{
    left: 0%;
  }

  .fc-center h2{padding-top:15px; font-size: 18px;}

  .box-footer{text-align: center;}

}
@media (max-width: 599px) {
  .msCandidateInfo label{
    width: 100%;
  }
  .msCandidateInfo input,
  .msCandidateInfo textarea{
    width: 100%;
  }
  .markingPart h3 {
      margin: 0 0 10px 0;
      font-size: 20px;
      line-height: 26px;
  }
  .markingPart h4{
    font-size: 18px;
      line-height: 24px;
  }
  .gradeInfo{
    padding: 15px;
  }
  .finalComment h4 {
    margin: 0 0 10px 0;
  }
  .finalComment label{
    width: 60%;
    vertical-align: top;
  }
  .finalComment select {
    width: 30%;
  }
  .evaluatorInfo label{
    width: 100%;
  }
  .evaluatorInfo input{
    width: 100%;
    padding: 2px 10px;
    height: auto;
  }
  .evaluatorInfo textarea{
    width: 100%;
  }
  .evaluatorInfo .formgroup{
    margin-bottom: 40px;
  }
  .bankDetails label{
    width: 100%!important;
  }
  .bankDetails input{
    width: 100%!important;
  }
  .fc button{padding: 0 6px !important;}
  .reason-reject-box label{
    width: 100%;
  }
  .reason-reject-box textarea{
    width: 100%;
  }
}
@media (max-width: 479px) {
  .signatureInner {
      width: 100%;
    }
}

