text/css style.css (ASCII text)
/***********fonts***********/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

/*font-family: 'Raleway', sans-serif;*/



/*****************common***************/

* {

	box-sizing: border-box;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	-o-box-sizing: border-box;

	-ms-box-sizing: border-box;

}



a,
img {
	transition: 0.5s;
	-webkit-transition: 0.5s;
}



img {
	width: auto;
	max-width: 100%;
}



.clear {

	clear: both;

}



.clear:after {

	clear: both;

	display: table;

	width: 100%;

	position: relative;

	content: "";

}



body {

	font-size: 15px;

	line-height: 22px;

	color: #333333;

	font-weight: 500;

	font-family: 'Raleway', sans-serif;

}

body p {

	margin-bottom: 23px;

}



h2.title {
	text-transform: initial;
	font-weight: 500;
	font-size: +30px;
	line-height: 32px;

	margin: 0;
	padding: 0 0 20px;
}

h2.title span {
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
}





/*****header********/

.site-header {}

.header-top {
	background: #1073bf;
	overflow-x: hidden;
}

.header-top-left {}

.header-top-right {
	padding: 5px 0;
	float: right;
	width: 46.8%;
	background: #dcdcdc;
	text-align: right;
	position: relative;

	line-height: 16px;
}

.header-top-right:after {

	position: absolute;
	content: "";
	background: #dcdcdc;
	width: 500px;
	height: 100%;
	top: 0;
	right: -500px;

}

.header-top-right:before {

	position: absolute;
	content: "";
	background: url(../images/after1.png) no-repeat 0 center;

	width: 26px;
	height: 28px;
	top: 0;
	left: -25px;

}

.header-top-right a {
	display: inline-block;
	padding: 1px 10px 1px 24px;
	color: #252525;
}

.header-top-right a:last-child {
	padding-right: 0;
}

.header-top-right a:hover {
	text-decoration: none;
	color: #1073bf;
}

.call {
	background: url(../images/call1.png) no-repeat 0 center;
}

.mail {
	background: url(../images/mail1.png) no-repeat 0 center;
}





.header-bottom {}

.header-bottom-left {
	float: left;
	background: #f1f1f1;
	position: relative;
	padding: 8px 25px 8px 0;
}

.header-bottom-left:before {

	position: absolute;
	content: "";
	background: #f1f1f1;
	width: 500px;
	height: 100%;
	top: 0;
	left: -500px;

}

.header-bottom-left:after {

	position: absolute;
	content: "";
	background: url(../images/after2.png) no-repeat 0 center;

	width: 90px;
	height: 100%;
	top: 0;
	right: -84px;

}

<<<<<<< HEAD
.header-bottom-right {
	float: right;
	text-align: right;
	padding: 19px 0 ;
=======
.header-bottom-left:after{

	position: absolute; content: ""; background: url(../images/after2.png) no-repeat 0 center;

	width: 90px; height:100%; top: 0; right: -84px;

>>>>>>> 6cbf08e15cf4686f42635acf7fe6c2503342e973
}

.logo {
	display: inline-block;
	max-width: 480px;
}



<<<<<<< HEAD
.header-bottom-right a {
	display: inline-block;
	text-transform: capitalize;
	padding: 10px 10px 10px 10px;

	margin-right: 8px;
	color: #151515;
	min-width: 95px;
	border-radius: 10px;
	text-align: left;
	line-height: 16px;
}
=======
.header-bottom-right a{ display: inline-block; text-transform: capitalize; padding: 10px 10px 10px 10px;

margin-right: 8px; color: #151515; min-width: 95px; border-radius: 10px; text-align: left; line-height: 16px; }
>>>>>>> 6cbf08e15cf4686f42635acf7fe6c2503342e973

.header-bottom-right a img {
	margin-right: 10px;
}

.header-bottom-right a:last-child {
	margin-right: 0;
}



.header-bottom-right a.archive {
	background: #fad9a1;
}

.header-bottom-right a.blog {
	background: #a1e4fa;
}

.header-bottom-right a.faq {
	background: #a9ebbb;
}

.header-bottom-right a:hover {
	text-decoration: none;
	background: #dcdcdc;
}

.header-bottom-right a {
	text-decoration: none;
}





/************banner**************/







/*************main************/

section {
	padding: 20px 0;
}







/*******footer********/



.footer_part {}



.footer-bottom {

	background: #20251f;
	padding: 14px 0;
	color: #fff;
	text-align: center;
	font-weight: 400;

	font-size: 14px;
	line-height: 16px;

}

.footer-bottom p {
	margin: 0;
}

.footer-bottom a {
	display: inline-block;
	color: #1f8fe4;
}

.footer-bottom a.pixel {
	color: #1db49d;
}

.footer-bottom a:hover {
	color: #1db49d;
	text-decoration: none;
}

.footer-bottom a.pixel:hover {
	color: #1f8fe4;
}









.mobileMenuBtn {
	display: none;
}



/*code for thesis page*/



.hide {
	display: none;
}



.student-thsis {
	padding: 40px 0;
}



.ths-frm-wrp {
	width: 600px;
	margin: auto;
}

.thsis-content {
	text-align: center;
}



.thsis-content h3 {
	margin: 0;
	padding: 0 0 20px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 36px;
}



.thsis-content p {
	font-size: 15px;
	line-height: 22px;
	color: #333333;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	margin: 0 0 20px 0;
}



.thsis-frm-rgtr-sec {
	padding: 0 0 20px 0;
}

.frm-wrpd,
.frm-wrpd-rgstr {
	position: relative;
	border: 1px solid #b5babd;
	padding: 30px;
	border-radius: 5px;
	margin-top: 18px;
}

.frm-wrpd-rgstr {
	margin-top: 15px;
}

.frm-wrpd input,
.frm-wrpd-rgstr input,
.frm-wrpd-rgstr select {
	border-radius: 0;
	height: 40px;
	border: 1px solid #1073bf;
	padding: 10px;
}

.frm-wrpd-rgstr textarea {
	border-radius: 0;
	border: 1px solid #1073bf;
	padding: 10px !important;
}

.frm-wrpd input:focus,
.frm-wrpd-rgstr input:focus,
.frm-wrpd-rgstr select:focus,
.frm-wrpd-rgstr textarea:focus {
	border: 1px solid #10b9bf;
}

.frm-wrpd a {
	text-decoration: none;
}


.anchr-wrp {
	text-align: center;
}

.anchr-wrp a {
	display: inline-block;
	margin: 0 8px;
	color: #fff;
	background: #1073bf;
	font-size: 16px;

	font-weight: 400;
	padding: 8px 30px;
	transition: 0.3s;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	position: relative;
}



.anchr-wrp a:hover,
.anchr-wrp a:active,
.anchr-wrp a:focus {
	text-decoration: none;
}


.anchr-wrp a.active {
	position: relative;
}

.anchr-wrp a.active:before {
	content: '';

	position: absolute;

	width: 0;

	height: 0;

	border-left: 15px solid transparent;

	border-right: 15px solid transparent;

	border-bottom: 15px solid #b5babd;

	left: 50%;

	bottom: -18px;

	transform: translate(-50%, 0);

	-webkit-transform: translate(-50%, 0);

	-moz-transform: translate(-50%, 0);

	-o-transform: translate(-50%, 0);

	-ms-transform: translate(-50%, 0);
}

.thsis-frm-rgtr-sec .login,
.frm-wrpd-rgstr button {
	background: #099fea;
	color: #fff;
	border: 0px;
	padding: 8px 15px;
	margin-top: 2px;
	font-size: 18px;
	transition: 0.5s;
	width: auto;
	font-family: 'Raleway', sans-serif;
}

.thsis-frm-rgtr-sec .login:hover {
	background: #053357;
}

/*.anchr-wrp a:after{content: "";

    position: absolute;

    width: 0;

    height: 0;

    border-left: 15px solid transparent;

    border-right: 15px solid transparent;

    border-top: 15px solid #1073bf;

    left: 50%;

    bottom: -15px;

    transform: translate(-50%,0 );

    -webkit-transform: translate(-50%,0 );

    -moz-transform: translate(-50%,0 );

    -o-transform: translate(-50%,0 );

    -ms-transform: translate(-50%,0 );

    display: none;}



.anchr-wrp a:active:after{display: block; text-decoration: none;}*/



.frm-wrpd input[type="text"],
.frm-wrpd-rgstr input[type="text"],
.frm-wrpd-rgstr input[type="email"],

.frm-wrpd-rgstr input[type="tel"],
.frm-wrpd-rgstr input textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid #1073bf;
}

.frm-wrpd input[type="text"]:focus,
.frm-wrpd-rgstr input[type="text"]:focus {
	outline: none;
	border: 1px solid #10b9bf;
}



.frm-wrpd input[type="submit"],
.frm-wrpd-rgstr input[type="submit"] {
	padding: 6px 15px;

	background: #04528e;

	color: #fff;

	border: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
}



.frm-wrpd input[type="submit"]:hover,
.frm-wrpd-rgstr input[type="submit"]:hover,
.frm-wrpd input[type="submit"]:focus,

.frm-wrpd-rgstr input[type="submit"]:focus,
.frm-wrpd-rgstr input[type="submit"]:active,
.frm-wrpd input[type="submit"]:active {
	background: #10b9bf;
	outline: none;
}



.frm-wrpd a.frgt-pass,
.frm-wrpd-rgstr a.frgt-pass {
	float: right;
	display: inline-block;
	margin: 10px 0 0 0;
}



.frm-wrpd label em,
.frm-wrpd-rgstr em {
	color: red;
}



/*thesis page end*/



/*code for deshbord panel page*/





.desh-bord {
	padding: 40px 0;
}

.desh-bord .lft-pnl {
	border: 1px solid #c1e0e2;
	box-shadow: 5px 0px 12px 0px #c1e0e2;
	padding: 10px 0;
}



.desh-bord .lft-pnl a {
	display: block;

	font-size: 17px;

	padding: 10px 15px;
	color: #165d61;

	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	text-decoration: none;
}

.desh-bord .lft-pnl a:last-child {
	border-bottom: none;
}


.desh-bord .lft-pnl a:hover {
	background: #3aa5ab;
	color: #fff;
	text-decoration: none;
}

.desh-bord .lft-pnl a i {
	padding-right: 5px;
	width: 25px;
	font-size: 18px;
}

.desh-bord .lft-pnl a.active {
	background: #3aa5ab;
	color: #fff;
}

/*right panel*/



.desh-bord .right-pnl {
	padding: 20px 15px 40px;
	box-shadow: inset 1px -1px 28px -5px #5da6a9;
	margin-top: 40px;
}



.desh-bord .right-pnl h3 {
	margin: 0;
	padding: 0;
}



.desh-bord .right-pnl ul {
	margin: 15px 0 0 0;
	padding: 0;
}



.desh-bord .right-pnl ul li {
	display: inline-block;
	width: 23%;
	margin-right: 18px;

	list-style: none;
	padding: 8px;
	border: 1px solid #b7d6ef;

	box-shadow: 2px 2px 6px 1px #d2e2ef;

	border-radius: 5px;

}



.desh-bord .right-pnl ul li:last-child {
	margin-right: 0;
}



.desh-bord .right-pnl ul li .lft,
.desh-bord .right-pnl ul li .right {
	display: inline-block;
	vertical-align: middle;
}

.desh-bord .right-pnl ul li .right {
	float: right;
}

.desh-bord .right-pnl ul li .lft h4 {
	margin: 0;
	padding: 0 0 25px 0;
	font-size: 18px;
	color: #000;
	font-weight: bold;
}

.desh-bord .right-pnl ul li .lft span {
	font-size: 12px;
	color: #003f6f;
}



.desh-bord .right-pnl ul li .right span.icon {
	color: #fff;
	display: inherit;
}

.desh-bord .right-pnl ul li .right span.icon .fa {
	font-size: 30px;
	padding: 16px 10px;
	color: #165d61;
}

.desh-bord .right-pnl ul li .right span.icon .fa.fa-check {
	background: #21b370;
}

.desh-bord .right-pnl ul li .right span.icon .fa.fa-calendar-check-o {
	background: #eaad00;
}

.dashboard_title {
	font-size: 22px;
	line-height: 28px;
	margin: 0 0 20px 0;
	background: #165d61;
	font-weight: 600;
	color: #fff;
	padding: 10px 15px;
}

.edit-outer {
	text-align: right;
	margin: 0 0px 20px 0;
}

.edit-outer a {
	font-size: 16px;
	line-height: 16px;
	color: #000;
	background: #165d61;
	color: #fff;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
}

.edit-outer a i {
	margin-left: 5px;
}

.edit-outer a:hover {
	background: #1073bf;
}

.category-add {
	text-align: right;
	position: relative;
	margin-bottom: 10px;
}

.category-add a {
	font-size: 16px;
	line-height: 16px;
	color: #000;
	background: #165d61;
	color: #fff;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
}

.category-add a:hover {
	background: #1073bf;
}

.desh-bord input,
.desh-bord select {
	border-radius: 0;
	height: 40px;
	background: transparent;
	border: 1px solid #3aa5ab;
	font-size: 15px;
	line-height: 22px;
	color: #333;
}

.desh-bord .form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	border: 1px solid #dcdcdc;
}

.desh-bord textarea {
	border-radius: 0;
	background: transparent !important;
	border: 1px solid #3aa5ab;
	font-size: 15px;
	line-height: 22px;
	color: #333;
}

.signature-image {
	width: 170px;
	height: 50px;
}

.banner img {
	height: 150px;
	width: 100%;
	object-fit: cover;
}

.right-pnl a {
	text-decoration: none;
}

.right-pnl ul li a {
	font-size: 15px;
	line-height: 22px;
}

.thsis-frm-rgtr-sec .error {
	color: #c11a05;
	font-size: 16px;
	line-height: 22px;
	display: block;
	text-align: center;
	margin: 0 0 20px 0;
}


span.view-signature {
	display: inline-block;
	width: 62%;
	border: 1px solid #dddd;
}

img.user-image {
	background: #fff !important;
}

.user-panel .image {
	background: #fff !important;
	border-radius: 100%;
	padding: 2px 0px 1px 2px;
}

.messages-menu ul {
	padding: 10px;
}

.ajax-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
}

.append-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

/*PHD TABLE START*/
.phd-pdf-table {
	width: 100%;
	margin: 15px 0 0 0;
}

.phd-pdf-table tr:first-child td {

	padding: 10px;
	
}


.phd-pdf-table tr th:last-child, .phd-pdf-table tr td:last-child {
	text-align: center;
}

.phd-pdf-table tr td {
	padding: 2px 10px;
	font-size: 15px;
	font-weight: 500;
}

.phd-pdf-table tr td img {
	max-width: 38px;
}

.fees-structure tr:nth-child(2) {
	background: #d5edf5;
}

.fees-structure tr:nth-child(2) td {
	font-size: 16px;
	font-weight: bold;
}

.signtr-wrp {
	padding: 10px 0 0 0;
}

.signtr-wrp span {
	display: block;
}

p.uni-p {
	padding-top: 18px;
}

.phd-pdf-table tr td:first-child{
    width: 6%;
	text-align: left;

}

.phd-pdf-table tr td:nth-child(2){
	text-align: left;
    font-weight: normal;
    width: 70%;

}

h2.inner-title {
	font-size: 32px;
	line-height: 30px;
	color: #0084c3;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

/*END PHD TABLE */
.content{
	min-height: calc(100vh - 300px) ;
}
@media (max-width: 1199px) {

	.header-bottom-left {
		width: 55%;
	}

	.header-bottom-left:after {

		width: 78px;

		height: 84px;

		right: -78px;

		background-size: 90%;

	}

	.header-bottom-right {

		padding: 20px 0 16px;

	}

	.header-bottom-right a {

		padding: 10px 12px 10px 14px;

		border-radius: 6px;

	}



	body p {
		margin-bottom: 20px;
	}





	/*code for deshbord page*/



	.desh-bord .right-pnl ul li .lft,
	.desh-bord .right-pnl ul li .right {
		text-align: center;
		float: none;

		width: 100%;
	}

	.desh-bord .right-pnl ul li {
		width: 23%;
		margin-right: 14px;
		padding: 15px;
		text-align: center;
	}

	span.view-signature {
		width: 61%;
	}

}



@media (max-width: 1023px) {

	.site-header {

		position: fixed;

		left: 0;

		top: 0;

		z-index: 123;

		background: #fff;

		width: 100%;

	}

	.banner {
		margin-top: 70px;
	}

	.header-top-right {
		width: 60.7%;
	}

	.header-bottom-left {

		width: 30%;

		padding: 8px 10px 8px 0;

	}



	.header-bottom-left:after {

		width: 53px;

		height: 44px;

		right: -53px;

		background-size: 100%;

	}

	.header-bottom-right a {
		font-size: 13px;

		padding: 8px ;
	
		border-radius: 5px;

		min-width: 1px;

		line-height: 15px;

	}

	.header-bottom-right a img {
		margin-right: 6px;
		width: 14px;
	}

	.header-bottom-right {
		padding: 5px 0;
	}



	.mobileMenuBtn {

		display: inline-block;

		position: absolute;

		top: 46px;

		right: 20px;

		font-size: 20px;

		color: #000D4D;

	}

	.mobileMenuBtn:hover i,
	.mobileMenuBtn:focus i {

		color: #000D4D;

	}

	.mobileMenuBtn .fa-times {
		display: none;
	}

	.mm-opened .fa-times {
		display: inline-block;
	}

	.mm-opened .fa-bars {
		display: none;
	}

	.mm-listview li a {}

	.mm-listview li a br {
		display: none;
	}

	.mm-listview li.active {
		background: #1073bf;
	}

	.mm-listview li a:hover {
		background: #1073bf;
	}

	.navbar {
		display: none;
	}



	.wbhus_topic .row>div {
		margin-bottom: 25px;
	}

	.topic_part {

		min-height: 195px;

	}





	/*code for deshbord page*/



	.desh-bord .right-pnl ul li {
		width: 100%;
		margin: 8px 0;
	}



	.desh-bord .right-pnl ul li .lft {
		width: auto;
		float: left;
	}



	.desh-bord .right-pnl ul li .right {
		width: auto;
		float: right;
	}



	.desh-bord .right-pnl {
		margin-top: 25px;
	}





}


@media (max-width: 991px) {
	.lft-pnl {
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.header-top {
		display: none;
	}

	.header-top-right {
		width: 100%;
		float: none;
		text-align: center;
	}

	.header-top-right:before {
		background: #dcdcdc;
		height: 100%;
	}

	.header-bottom-left {
		width: 100%;
		float: none;
		padding: 8px;
	}

	.logo {
		text-align: center;
		display: block;
	}

	.logo img {
		max-width: 80%;
	}

	.header-bottom-right {
		float: none;
		text-align: center;
	}

	.banner {

		margin-top: 130px;

	}



	.header-bottom-left:after {
		background: #f1f1f1;
		height: 100%;
	}

	.header-bottom {

		box-shadow: 0px 0px 5px 1px #ddd;

	}





	h2.title {

		padding: 0 0 12px;

		font-size: 24px;

		line-height: 26px;

	}

	body {
		font-size: 13px;
	}

	body p {
		margin-bottom: 10px;
	}



	.footer_content {

		padding-top: 15px;

	}

	







	/*code for thisis page*/



	.ths-frm-wrp {
		width: 100%;
	}



	/*code for dashbord page*/



	.desh-bord .right-pnl ul li {
		width: 45%;
		padding: 15px;
		margin: 8px;
	}

	.edit-outer,
	.category-add {
		margin: 0 0 20px 0;
	}

	span.view-signature {
		width: 100%;
	}


}

@media (max-width: 599px) {
	.banner {
		margin-top: 120px;
	}
}


@media (max-width: 479px) {

	.header-bottom-right {
		padding: 10px;
	}

	.header-bottom-right a {
		margin-right: 5px;
		min-width: 78px;
	}

	.banner {

		margin-top: 100px;

	}





	.mobileMenuBtn {
		top: 40px;
	}

	.header-bottom-left:after {
		right: -15px;
	}

	.quick-contact-hold a {
		font-size: 12px
	}

	.pgntn-srch-hldr .clg-addrs h4 {
		font-size: 18px;
	}



	/*code for deshboard page*/



	.desh-bord .right-pnl ul li {
		width: 100%;
		margin: 5px 0;
	}

}

.remove-pdf {
	position: absolute;
	top: -10px;
	right: -10px;
}

.set-pdf-position {
	position: relative;
	display: inline-block;
}

@media (max-width: 479px) {

	.update_content {
		width: 62%;
	}

}