
/***********fonts***********/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
/*font-family: 'Raleway', sans-serif;*/

/*****************common***************/
*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;	
}

a,img{ transition:0.5s; -webkit-transition:0.5s;}

img{ width:auto; max-width:100%;}

.clear{
	clear: both;
}

.clear:after{
	clear: both;
	display: table;
	width: 100%;
	position: relative;
	content:"";
}

body{
	font-size: 15px;
	line-height: 22px;
	color: #333333;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}


.banner{position: relative;}

.breadcambs{position:absolute; bottom: 0; background:rgba(11, 155, 160,.74); padding: 10px; width: 100%; 
 		color:#fff; font-size: }

.breadcambs span.home{padding-right: 5px;}

.breadcambs span.sdnrgn{padding-left: 5px;} 

/*STUDENT REGISTRATION FORM */


.studen-rg-frm-wrp h4{    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 15px 0 35px 0;
    color: #444242;
	font-weight: 400;
	font-size:28px;}

.studen-rg-frm-wrp h4 span{color:#9a9898; font-weight: 600; }
.studen-rg-frm-wrp{ padding:10px; }

.sbmit-clr-wrp .from-group{margin-bottom:15px;}

.studen-rg-frm-wrp label{width: 200px; font-weight:600; color:#000; font-size: 16px;}

.studen-rg-frm-wrp label.igree{width: 100%;}

.studen-rg-frm-wrp input{width:72%;}

.studen-rg-frm-wrp input.iagree{width: auto;}

.sbmit-clr-wrp{text-align: center; margin: 30px 0 10px 0;}

.studen-rg-frm-wrp .sbmit-clr-wrp input{width: auto; border: none; padding: 8px 25px;
		 font-size: 16px; transition: 0.5s; -webkit-transition: 0.5s;
		-moz-transition: 0.5s; -ms-transition: 0.5s;}

.studen-rg-frm-wrp .sbmit-clr-wrp input[type="submit"]{margin-right:10px; background: #1073bf;
    color: #fff;}

.studen-rg-frm-wrp .sbmit-clr-wrp input[type="reset"]{margin-right:10px; color: #ffffff;
    background: #10b9bf;}

.studen-rg-frm-wrp .sbmit-clr-wrp input[type="submit"]:hover{background:#054373;}

.studen-rg-frm-wrp .sbmit-clr-wrp input[type="reset"]:hover{background:#056d71;}

.studen-rg-frm-wrp input.iagree{display: none; }

.studen-rg-frm-wrp label.igree{position: relative;
    padding-left: 32px;
    font-size: 15px;
    font-weight: 500;
    color: #000;} 

.studen-rg-frm-wrp label.igree:before{content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid #10b9bf;
    background: #fff;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    border-radius: 4px; }

.studen-rg-frm-wrp label.igree:after{

	content: "";
    position: absolute;
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #10b9bf;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}


.studen-rg-frm-wrp input[type="checkbox"]:checked + label.igree:after{display: block;}




.studen-rg-frm-wrp input, .studen-rg-frm-wrp input select{

	padding:10px;
    border:1px solid #10b9bf;
    color: #000;
}


.studen-rg-frm-wrp input:focus, .studen-rg-frm-wrp select:focus{

	box-shadow:1px 4px 7px -2px #bfbdbd; border:1px solid #1073bf;
	outline: none;
}

.studen-rg-frm-wrp h5{font-size: 25px; margin: 0; padding:0px 0px 30px 0; display:inline-block; color:#1073bf;
        }





.frm-about-wrp h5{
    padding: 8px 15px;
    display: inline-block;
    margin: 10px 0 15px 0;
    color: #1073bf;
    font-weight: 600;
    font-size: 20px
}

.why-rgstr-wrp{}

.why-rgstr-wrp h2{background: #1073bf;
    color: #fff;
    padding: 8px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 25px 0 10px 0;}


.why-rgstr-wrp p{font-size: 16px;
    color: #4c4a4a;
    margin: 0;
    padding: 10px 0; text-align: justify;}

.studen-rg-frm-wrp form{padding-top: 7px;}

.frst-area-holder{position: relative; }

/*.frst-area-holder:before{content: "";
    width: 615px;
    height: 1px;
    background: #c1c1c1;
    position: absolute;
    left: 126px;
    bottom: -28px;}*/

.secnd-area-holder{padding-top:38px;}



@media (max-width: 1199px){
	
	.studen-rg-frm-wrp input{width: 65%;}
}

@media (max-width: 1023px){

    .studen-rg-frm-wrp input {
    width: 54%;
}
	

}

@media (max-width: 767px){

    .studen-rg-frm-wrp input{width:100%;}

    .why-rgstr-wrp h2{font-size:26px;}

    .studen-rg-frm-wrp h4{padding:5px 0 20px 0;}

    .secnd-area-holder {padding-top: 15px;}

    .studen-rg-frm-wrp h5{padding:0 0 18px 0;}
	

}

@media (max-width: 479px){


}

@media (max-width: 479px){
	
}